.a {
    color: blue;
}
.Head_Banner {
    margin: 0;
    background-image: url(./image/head_banner.jpeg);
    height: 180px;
}
.head_banner_image {
    width: 100%;
}
.bili_icon_white {
    height: 14px;
}
.download_icon_white {
    height: 14px;
}
.ul_navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.ul_navigation li {
    float: left;
}
.ul_navigation li a {
    font-family: 'Microsoft JhengHei';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 15px;
}