.Head_Banner {
    margin: 0;
    background-image: url(../image/head_banner.jpeg);
    height: 180px;
}
.head_banner_image {
    width: 100%;
}
.bili_icon_white {
    height: 14px;
}
.download_icon_white {
    height: 14px;
}
.left_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.left_bar li {
    float: left;
}
.left_bar li a {
    font-family: 'Microsoft JhengHei';
    display: block;
    color: white;
    text-align: center;
    padding: 20px 9px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
}